@font-face{
  font-family: "SEGA LOGO FONT";
  src: url('./SEGA.TTF')
  local("./SEGA.TTF") ,format("truetype");
  font-weight: normal;
}
h1{
   font-family:'SEGA LOGO FONT';
   font-weight: 200;
   color: #0ccac4;

 }
 